:root {
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --logo-text-color: #000000;
    --accent-color: #2196f3;
    --active-button-color: #188ce8;
    --white-text-color: #ffffff;
    --main-background-color: #ffffff;
    --background-portfolio-projects-item: #eeeeee;
    --background-color-our-team-section: #f5f4fa;
    --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
    --background-color-footer: #2f303a;
    --line-header-color: #ececec;
    --icons-color: #afb1b8;
    --footer-icons-color: #ffffff;
    --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
}