.footer {
    background-color: var(--background-color-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    // align-items: baseline;
    justify-content: center;
}

.address-items:not(:last-child) {
    margin-bottom: 9px;
}

.address-item.link {
    line-height: 1.71;
    text-align: center;
    color: var(--white-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-list .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-item.link {
    line-height: 1.71;
    text-align: center;
    color: var(--footer-contacts-text-color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.footer-social-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.footer-logo-address-wrap {
    margin-right: 70px;
}

.sign-in {
    margin-left: auto;
}

.sign-text {
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.input-sign-mail {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 15px;
    outline: transparent;
    color: var(--white-text-color);

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 0.6);
    }
}


.btn-sign {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--active-button-color);
    }
}


.sign-icon {
    margin-left: 10px;
    fill: var(--main-background-color);
}

.sign-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}