.people {
    background-color: var(--background-color-our-team-section);
}

.people-list {
    display: flex;
}

.people-list__item {
    background-color: var(--main-background-color);
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.people-list__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
}

.people-list__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.people-list__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

// .social-list {
//     display: flex;
//     gap: 10px;
//     justify-content: center;
// }

// .social-item {
//     width: 44px;
//     height: 44px;
// }

// .social-link {
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: var(--icons-color);
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .social-icon {
//     fill: currentColor;
// }

// .social-link:hover,
// .social-link:focus {
//     background-color: var(--accent-color);
//     color: var(--main-background-color);
// }