.buttons-list {
    display: flex;
    flex-wrap: wrap;
    // gap: 8px;
    // justify-content: center;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        justify-content: center;
        margin-bottom: 50px;
    }
}

.btn-item:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 8px;
}

.button-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background: #f5f4fa;
    padding: 6px 22px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--white-text-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
}

.wrapper-project-text {
    padding: 20px 24px;
    border-left: 1px solid var(--background-portfolio-projects-item);
    border-right: 1px solid var(--background-portfolio-projects-item);
    border-bottom: 1px solid var(--background-portfolio-projects-item);
}

.projects-list.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item {
    // flex-basis: calc((100% - 60px) / 3);
    width: 100%;

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3);
    }
}

.card-link {
    color: currentColor;
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.thumb-project-img {
    position: relative;
    display: block;
    overflow: hidden;
}

.card-text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card-link:hover &,
    .card-link:focus & {
        transform: translateY(0);
    }
}